<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fanCommunity.dao.HashtagDao">
    <resultMap id="Hashtag" type="Hashtag">
        <result column="hashtag_id" property="hashtagId"/>
        <result column="hashtag_code" property="hashtagCode"/>
        <result column="hashtag_name" property="hashtagName"/>
    </resultMap>
</mapper>