<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<main layout:fragment="content" class="main">
    <div class="site-main d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <h2 class="mb-0">My Profile</h2>
                </div>
            </div>
        </div>
    </div>

    <section class="about-section section-padding" id="section_2">
        <div class="container">
            <div class="row"
                 style="display: flex;
                 justify-content: center;"
            >

                <div class="col-lg-12 col-12">
                    <div class="section-title-wrap mb-5">
                        <h4 class="section-title">Meet podcaters</h4>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0"




                >
                    <div class="team-thumb bg-white shadow-lg">
                        <img src="images/profile/cute-smiling-woman-outdoor-portrait.jpg"
                             class="about-image img-fluid" alt="">

                        <div class="team-info">
                            <h4 class="mb-2">
                                Taylor
                                <img src="images/verified.png" class="verified-image img-fluid" alt="">
                            </h4>

                            <span class="badge">Modeling</span>

                            <span class="badge">Fashion</span>
                        </div>

                        <div class="social-share">
                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-pinterest"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
</html>